img{
    height: auto;
    max-width: 800px;
}
.flexbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    gap: 20px;
}