@charset "UTF-8";
body{
    font-family: "ヒラギノ角ゴ Pro W3",sans-serif;
}
h2{
    font-family: "ヒラギノ角ゴ Pro W3","sans-serif";
    background: #85fbff;/*背景色*/
    padding : 10px;/*左の余白*/
    border-left: 5px solid #00a2ff;/*左の線*/
    border-bottom: 1px solid #00a2ff;/*下の線*/
}
